<header>
    <nav>
        <a href="/"> BooksApp</a>
        <ul>
            <li><a href="/authors">Auteur</a></li>
            <li><a href="/authors/new">Ajouter un auteur</a></li>
            <li><a href="/books">Livres</a></li>
            <li><a href="/books/new">Ajouter un livre</a></li>
        </ul>
    </nav>
</header>