<header>
    <nav>
        <a href="/"> BooksApp</a>
        <ul>
            <li><a href="/authors">Auteur</a></li>
            <li><a href="/authors/new">Ajouter un auteur</a></li>
        </ul>
    </nav>
</header>