<header>
  <nav class="header-nav">
    <a class="header-title" href="/">BooksApp</a>
    <ul>
      <li><a href="/books">Livre</a></li>
      <li><a href="/books/new">Ajouter un livre</a></li>
      <li><a href="/authors">Auteurs</a></li>
      <li><a href="/authors/new">Ajouter un Auteur</a></li>
    </ul>
  </nav>
</header>
